@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;0,700;0,900;1,100;1,200;1,300;1,600;1,700;1,900&family=Signika:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Raleway', sans-serif;
    background: #A5BEC4;

}

/* Category */


#categorymain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: solid black 1px; */
    padding-bottom: 5vw;
}


.letterLinks ol{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.4rem;
    justify-content: center;

}

.brandList{
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    flex-wrap: wrap;
    margin: 5vw;
}

.image{
    height: 20vw;
    width: 50%;
    background: #8DA361;
    margin-left: 8vw;
}



.letterGroup li{
    margin-right: 10em;
}


/* EVERYTHING */

h1{
    font-weight: 900;
    font-size: 5vw;
    text-align: center;
    color: #208E74;
}

h2{
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: #A8248F;
    transition:cubic-bezier(1, 0, 0, 1);
}

h3{
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
    color: #8DA361;
    transition:cubic-bezier(1, 0, 0, 1);
}



/* ul{
list-style-type: none;
align-self: center;
text-align: center;
font-size: 2vw;
} */

li{
    margin-top: 3vw;
}

a{
    color: rgb(206, 59, 149);
    text-decoration: none;
}

/* .ul_product{
    display: flex;
    flex-direction: row;    
} */

.ul_product li{
    margin: 2vw;
}

.bodycategory{
position: relative;
    }

.bodycategory p{
    position: absolute;
    right: 48vw;
    top: 27vw;
}

.bodycategory p a{
    color:rgb(255, 181, 44);
}

/* h2{
    font-weight: 700;;
    font-size: 3vw;
    /* animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
} */ */
/* 
@keyframes animation {
from{margin-left: 0%}
to{margin-left: 90%}
} */


/* div{
    display: flex;
    flex-direction: column;
    justify-items: center;
} */

.image{
    background-image: url(assets/bag.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
}

.imagediscount{
    background-image: url(assets/bag.png);
    background-size: 100%;
    opacity: 0.3;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
}

#soldout{
    font-size: 2vw;
    z-index: 3;
    position: absolute;
    transform: rotate(-45deg);
    top: 31vw;
    right: 27.5vw;
    font-weight: 300;
    color:rgb(250, 109, 43);
}

.box{
    width: 10vw;
    height: 3vw;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 68vw;
}

.box p{
    color: white;
    position: absolute;
    top: 1.5vw;
    left: 32%;
}


.productlistgrid h3{
    font-weight: 400;
    font-size: 1.8vw;
    text-align: center;
    margin-top: -4vw;
}

.productlistgrid p{
    font-size: 1.5vw;
    text-align: center;
   margin-top: -1vw;
}

.price{
    display: inline;
}

.back{
    right: 49vw;
    top: 85vw;
    position: absolute;
    padding-bottom: 3vw;

}

/* PRODUCT PAGE */

.bodyproduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.headline{
    font-weight: 900;
    font-size: 3vw;
}

.productname
{
    font-size: 2vw;
}

.brand{
    font-size: 2vw;
    margin: -0.2vh;

}

.productimage{
    align-self: center;
    height: 50vw;
    padding: -10vw;
    max-width: 50%;
}

button{
    width: 15vw;
    height: 3vw;
    align-self: center;
    margin: 2rem;
    background-color: #B78E72;
    /* text-decoration: none; */
    text-align: center;
    border: none;
    border-radius: 8px;

}

/* 
h5{
    font-weight: 500;;
    font-size: 1vw;
    text-align: center;
    padding: -20px;
    /* animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;


/* 
.brand{
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
} */
/* 
.buy{
    width: 10vw;
    height: 3.5vw;
    background-color: black;
    margin-top: 52vw;
    align-self: center;
    margin-bottom: 2vw;
}

.buy p{
    color: white;
    text-align: center;
    text-justify: center; */
/* } */

/* Productlist */

h2{
    text-align: center;
}

.mainproductlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    margin: 10vw;
}

h1{
    grid-row-start: 1;
    grid-row-end: 3;
  }

img{
    max-width: 100%;
}

.soldOut img{
    opacity: 0.2;   
}

article > *{
    margin: 0;
    font-size: 0.9rem;
}

.subtle{
    color:black;
    font-weight: 800;
}

.productlist article.soldOut::before {
    content: "Sold Out";
    position: absolute;
    background: grey;
    color: white;
    padding: 1rem;
}

.productlist article .discounted,
.productlist article .price span{
    display: none;
}

.productlist article.onSale .discounted {
    display: flex;
    justify-content: space-between;
}

.discounted > p{
    margin-bottom: 0;
}

article .onSale .price span {
    display: initial;
}

.productlist article button {
    margin-top: auto;
}

.productlist article{
    margin-bottom: 1em;
}


.goback{
    padding-left: 45%;
} 

/* 
.price{
    text-decoration: line-through;
} */

h6{
    font-size: 1.5vw;
    margin: 2vw;
}